/* reset styles */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  margin: 0;
  color: #262626;
}

h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
span:focus,
label:focus,
input:focus,
a:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input,
select,
textarea,
button {
  border: 0;
  border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:focus,
a:active {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::placeholder {
  color: #999;
  opacity: 1;
}

b,
strong {
  font-weight: bolder;
}

:root {
  --brand-green-soft: #DCFFB4;
  --brand-green: #009D92;
  --brand-green-dark: #037971;
  --brand-black: #262626;
  --white: #FFFFFF;
  --brand-grey: #BDBDBD;
  --brand-gray-soft: #F1F1F1;
  --brand-black-opacity: rgba(0, 0, 0, 0.15);
}

body {
  background: var(--brand-gray-soft);
  color: var(--brand-black);
}

/* Style components */

.button-primary {
  border-radius: 200px;
  background: var(--brand-green);
  color: var(--white);
  padding: 16px 48px;
  gap: 12px;
  width: fit-content;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  display: flex;
  align-items: center;
}

.button-primary__icon {
  height: 24px;
  width: 24px;
}

.title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .button-primary {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    transition: cubic-bezier(.4, 0, .2, 1) .3s;
  }

  .button-primary:hover {
    background: var(--brand-green-dark);
  }

  .title {
    font-size: 34px;
    line-height: 51px;
  }
}

/* Navbar */

.header {
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 8px 25px 0px var(--brand-black-opacity);
  position: fixed;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  padding: 8px;
}

.navbar__container-logo,
.navbar__container-menu-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.navbar__logo--desktop {
  display: none;
}

.navbar__logo--mobile,
.navbar__menu-burger,
.navbar__items-container--item__head--icon {
  height: 100%;
  width: 100%;
}

.navbar__backdrop {
  position: fixed;
  display: none;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 20;
  background: var(--brand-black-opacity);
  padding-top: 46px;
}

.navbar__items-container {
  background: var(--white);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px 0;
  border-radius: 0 0 12px 12px;
}

.navbar__items-container--content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
}

.navbar__items-container--item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
}

.navbar__items-container--item:nth-child(1) {
  justify-content: space-between;
  margin-bottom: 8px;
}

.navbar__items-container--item__head--text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: var(--brand-green);
}

.navbar__items-container--item__head--container-icon {
  height: 21px;
  width: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__items-container--item a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  color: var(--brand-green);
}

.navbar__items-container--desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar__container-logo {
    height: 72px;
    width: 72px;
  }

  .navbar__logo--mobile {
    display: none;
  }

  .navbar__logo--desktop {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .navbar__container-menu-burger {
    display: none;
  }

  .navbar__items-container--desktop,
  .navbar__items-container--content--desktop {
    display: flex;
    align-items: center;
  }

  .navbar__items-container--content--desktop {
    gap: 40px;
  }

  .navbar__items-container--item--desktop a {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color: var(--brand-green);
    transition: cubic-bezier(.4, 0, .2, 1) .3s;
  }

  .navbar__items-container--item--desktop a:hover {
    color: var(--brand-green-dark);
  }
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  padding: 78px 16px 32px 16px;
  gap: 12px;
}

.hero__container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  max-width: 600px;
}

.hero__container-text--span {
  color: var(--brand-green);
}

.hero__container-image {
  display: flex;
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  overflow: hidden;
}

.hero__image {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .hero__container {
    flex-direction: row;
    justify-content: space-between;
    padding: 200px 8px;
  }

  .hero__container-text {
    align-items: flex-start;
    text-align: left;
    gap: 24px;
  }
}

/* Our team */

.our-team {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.our-team__container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  padding: 32px 16px;
  gap: 12px;
}

.our-team__collaborators--container {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  overflow-x: scroll;
}

.our-team__collaborators--card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  background: linear-gradient(var(--brand-gray-soft), var(--white));
  height: 174px;
  width: 120px;
  flex-shrink: 0;
  justify-content: end;
}

.our-team__collaborators--image {
  width: 100%;
  height: 100%;
}

.our-team__collaborators__container-text {
  background: var(--white);
  border-radius: 8px 8px 0 0;
  box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 6px;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}

.our-team__collaborators__container-text--name,
.our-team__collaborators__container-text--role {
  color: var(--brand-black);
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.our-team__collaborators__container-text--role {
  color: var(--brand-grey);
}

.card-milo,
.card-man,
.card-woman,
.card-german {
  background-image: url("./assets/images/camilo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card-man {
  background-image: url("./assets/images/man.png");
}

.card-woman {
  background-image: url("./assets/images/woman.png");
}

.card-german {
  background-image: url("./assets/images/german.png");
}

@media screen and (min-width: 768px) {
  .our-team__container {
    gap: 24px;
  }

  .our-team__collaborators--container {
    overflow: hidden;
    flex-wrap: wrap;
  }

  .our-team__collaborators--card {
    height: 348px;
    width: 240px;
  }

  .card-milo,
  .card-man,
  .card-woman,
  .card-german {
    background-size: cover;
  }

  .our-team__collaborators__container-text--name,
  .our-team__collaborators__container-text--role {
    font-size: 18px;
    line-height: 27px;
  }
}

/* Our values */

.our-values {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: var(--white);
}

.our-values__container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  padding: 32px 16px;
  gap: 12px;
}

.our-values__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 16px 8px;
}

.our-values__stack__card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 140px;
}

.our-values__stack__card--image {
  height: 24px;
  width: 24px;
  margin-bottom: 9px;
}

.our-values__stack__card--title {
  color: var(--brand-green);
  font-size: 12px;
  line-height: 18px;
}

.our-values__stack__card--description {
  font-size: 8px;
  line-height: 12px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .our-values__container {
    gap: 24px;
  }

  .our-values__stack__card {
    max-width: 200px;
  }

  .our-values__stack__card--image {
    height: 42px;
    width: 42px;
  }

  .our-values__stack__card--title {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
  }

  .our-values__stack__card--description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}