/* reset styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  font-display: swap;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  margin: 0;
  color: #262626;
}

h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
span:focus,
label:focus,
input:focus,
a:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input,
select,
textarea,
button {
  border: 0;
  border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:focus,
a:active {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::placeholder {
  color: #999;
  opacity: 1;
}

b,
strong {
  font-weight: bolder;
}

:root {
  --brand-green-soft: #DCFFB4;
  --brand-green: #009D92;
  --brand-green-dark: #037971;
  --brand-black: #262626;
  --white: #FFFFFF;
  --brand-grey: #BDBDBD;
  --brand-gray-soft: #F1F1F1;
  --brand-black-opacity: rgba(0, 0, 0, 0.15);
}

body {
  background: var(--brand-gray-soft);
  color: var(--brand-black);
}

/* Style components */

.button-primary {
  border-radius: 200px;
  background: var(--brand-green);
  color: var(--white);
  padding: 16px 20px;
  gap: 12px;
  width: fit-content;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  display: flex;
  align-items: center;
}

.button-primary__icon {
  height: 24px;
  width: 24px;
}

.h1 {
  font-size: 50px;
  line-height: 1.5;
  font-weight: 600;
}

.title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

.subtitle {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
}

.text-body {
  font-size: 16px;
  font-weight: 400;
}

.text-body-bold {
  font-size: 16px;
  font-weight: 700;
}

.chip-light,
.chip-dark {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 4px;
  border-radius: 8px;
  background: var(--brand-green-soft);
  font-size: 12px;
  font-weight: 600;
  color: var(--brand-green-dark);
  width: fit-content;
}

.chip-dark {
  background: var(--brand-green);
  color: var(--white);
}

.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .button-primary {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    transition: cubic-bezier(.4, 0, .2, 1) .3s;
    padding: 16px 48px;
  }

  .button-primary:hover {
    background: var(--brand-green-dark);
  }

  .h1 {
    font-size: 80px;
  }

  .title {
    font-size: 34px;
    line-height: 51px;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 700;
  }

  .text-body,
  .text-body-bold {
    font-size: 18px;
  }

  .chip-light,
  .chip-dark {
    padding: 8px;
    font-size: 16px;
  }
}

/* Navbar */

.show {
  display: flex;
}

.hidden {
  display: none;
}

.header {
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 8px 25px 0px var(--brand-black-opacity);
  position: fixed;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  padding: 8px;
}

.navbar__container-logo,
.navbar__container-menu-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.navbar__logo--desktop {
  display: none;
}

.navbar__logo--mobile,
.navbar__menu-burger,
.navbar__items-container--item__head--icon {
  height: 100%;
  width: 100%;
}

.navbar__backdrop {
  position: fixed;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 20;
  background: var(--brand-black-opacity);
  padding-top: 46px;
}

.navbar__items-container {
  background: var(--white);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px 0;
  border-radius: 0 0 12px 12px;
}

.navbar__items-container--content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
}

.navbar__items-container--item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
}

.navbar__items-container--item:nth-child(1) {
  justify-content: space-between;
  margin-bottom: 8px;
}

.navbar__items-container--item__head--text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: var(--brand-green);
}

.navbar__items-container--item__head--container-icon {
  height: 21px;
  width: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__items-container--item a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  color: var(--brand-green);
}

.navbar__items-container--desktop {
  display: none;
}

.navbar__item-select a {
  color: var(--brand-green-dark) !important;
}

@media screen and (min-width: 768px) {
  .navbar__backdrop {
    display: none;
  }

  .navbar__container-logo {
    height: 72px;
    width: 72px;
  }

  .navbar__logo--mobile {
    display: none;
  }

  .navbar__logo--desktop {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .navbar__container-menu-burger {
    display: none;
  }

  .navbar__items-container--desktop,
  .navbar__items-container--content--desktop {
    display: flex;
    align-items: center;
  }

  .navbar__items-container--content--desktop {
    gap: 40px;
  }

  .navbar__items-container--item--desktop a {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color: var(--brand-green);
    transition: cubic-bezier(.4, 0, .2, 1) .3s;
  }

  .navbar__items-container--item--desktop a:hover {
    color: var(--brand-green-dark);
  }
}

/* Hero */
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  padding: 78px 16px 32px 16px;
  gap: 12px;
}

.hero__container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  max-width: 600px;
}

.hero__container-text--span {
  color: var(--brand-green);
}

.hero__container-image {
  display: flex;
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  overflow: hidden;
}

.hero__image {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .hero__container {
    flex-direction: row;
    justify-content: space-between;
    padding: 200px 8px;
  }

  .hero__container-text {
    align-items: flex-start;
    text-align: left;
    gap: 24px;
  }
}

/* Our team */
.our-team__container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  padding: 32px 16px;
  gap: 12px;
}

.our-team__collaborators--container {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  overflow-x: scroll;
}

.our-team__collaborators--card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  background: var(--white);
  height: 174px;
  width: 120px;
  flex-shrink: 0;
  justify-content: end;
  padding-top: 12px;
}

.our-team__collaborators--image {
  width: 100%;
  height: 100%;
  max-width: 240px;
  max-height: 240px;
}

.our-team__collaborators__container-text {
  background: var(--white);
  border-radius: 8px 8px 0 0;
  box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 6px;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  height: 100px;
}

.our-team__collaborators__container-text--name,
.our-team__collaborators__container-text--role {
  color: var(--brand-black);
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.our-team__collaborators__container-text--role {
  color: var(--brand-grey);
}

@media screen and (min-width: 768px) {
  .our-team__container {
    gap: 24px;
    padding: 80px 8px;
  }

  .our-team__collaborators--card {
    height: 348px;
    width: 240px;
    align-items: center;
  }

  .our-team__collaborators__container-text--name,
  .our-team__collaborators__container-text--role {
    font-size: 18px;
    line-height: 27px;
  }
}

@media screen and (min-width: 1024px) {
  .our-team__collaborators--container {
    gap: 24px;
    overflow: hidden;
  }

  .our-team__collaborators--card {
    height: 360px;
    width: 300px;
  }
}

/* Our values */

.our-values {
  background: var(--white);
}

.our-values__container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  padding: 32px 16px;
  gap: 12px;
}

.our-values__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 16px 8px;
}

.our-values__stack__card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 140px;
}

.our-values__stack__card--image {
  height: 24px;
  width: 24px;
  margin-bottom: 9px;
}

.our-values__stack__card--title {
  color: var(--brand-green);
  font-size: 12px;
  line-height: 18px;
}

.our-values__stack__card--description {
  font-size: 8px;
  line-height: 12px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .our-values__container {
    gap: 24px;
    padding: 80px 8px;
  }

  .our-values__stack__card {
    max-width: 200px;
  }

  .our-values__stack__card--image {
    height: 42px;
    width: 42px;
  }

  .our-values__stack__card--title {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
  }

  .our-values__stack__card--description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}

/*Our services*/
.our-services__container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  padding: 32px 16px;
  gap: 12px;
}

.our-services__card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 32px;
}

.our-services__card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  max-width: 400px;
  background: var(--white);
  padding: 24px 12px;
  justify-content: space-between;
  gap: 12px;
}

.img-services {
  max-width: 420px;
  width: 100%;
  border-radius: 12px;
  align-self: center;
  display: flex;
  object-fit: cover;
}

.our-services__button {
  align-self: center;
}

@media screen and (min-width: 768px) {
  .our-services__container {
    gap: 24px;
    padding: 80px 8px;
  }

  .our-services__card-container {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }

  .our-services__card {
    justify-content: space-between;
    gap: 24px;
    max-width: 480px;
  }

  .img-services {
    max-width: 100%;
  }
}

/*They chose us*/
.they-chose-us {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.they-chose-us__container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 12px;
  max-width: 1440px;
  width: 100%;
}

.empresas {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.they-chose-us img {
  object-fit: contain;
  width: 200px;
  height: 200px;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .they-chose-us__container {
    gap: 24px;
    padding: 80px 8px;
  }

  .empresas {
    justify-content: space-between;
  }
}

/*Our costumers say*/
.our-costumers-say {
  background: var(--white);
}

.our-costumers-say__container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  padding: 32px 16px;
  gap: 12px;
}

.our-costumers-say__card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  width: 100%;
}

.our-costumers-say__card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 240px;
}

.our-costumers-say__name {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .our-costumers-say__container {
    gap: 24px;
    padding: 80px 8px;
  }

  .our-costumers-say__card-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

/*Footer*/
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #037971;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0;
}

.footer-logo-medios-atencion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0;
  padding: 0 16px;
  width: 100%;
  max-width: 1440px;
}

footer img {
  width: 190px;
  height: 190px;
}

footer p {
  color: #FFFFFF;
}

.copyright {
  color: #FFFFFF;
  font-weight: 700;
  margin-bottom: 50px;
}

.medios {
  gap: 50px;
  display: flex;
  justify-content: center;
}

.footer-redes {
  display: flex;
  flex-direction: column;
}

.iconos {
  display: flex;
  flex-direction: row;
}

.redes {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.hora {
  color: #DCFFB4;
}

@media screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 16px;
  }

  footer p {
    margin-bottom: 50px;
  }

  footer img {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .footer-logo-medios-atencion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 0 8px;
    gap: 0px;
    align-items: center;
  }

  .medios {
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
  }

  .redes {
    margin-top: 0px;
    text-align: center;
  }

  .iconos {
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    margin-left: 10px;

  }

  .atencion {
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
  }

  .hora {
    align-items: center;
  }
}

/* Services page */

.services_consulting__section,
.services_implementation__section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: var(--white);
}


.services_implementation__section {
  background: var(--brand-gray-soft);
}

.services-consulting__container,
.services-implementation__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  padding: 78px 16px 32px 16px;
  gap: 56px;
}

.services-implementation__container {
  padding: 32px 16px;
}

.services__title {
  color: var(--brand-green);
}

.services__consulting--container,
.services__consulting--hero,
.services__consulting-one--container,
.services__consulting-two--container,
.services-implementation__container--hero,
.services-implementation-one__container,
.services-implementation-two__container,
.services-implementation-three__container,
.services-implementation-four__container,
.services__block,
.services__section-one,
.services__section-two,
.services__section-three,
.services__section-four,
.services__section-five {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.services__block {
  gap: 12px;
}

.services__consulting--container,
.services__section-one,
.services__section-two,
.services__section-three,
.services__section-four,
.services__section-five {
  gap: 56px;
}

.services__consulting--hero,
.services-implementation__container--hero,
.services__consulting-one--container,
.services__consulting-two--container,
.services-implementation-one__container,
.services-implementation-two__container,
.services-implementation-three__container,
.services-implementation-four__container {
  gap: 24px;
}

.services__consulting--hero--image,
.services-implementation__image,
.services__consulting__image--two,
.services__implementation__image--two {
  max-width: 420px;
  width: 100%;
  border-radius: 12px;
  align-self: center;
  display: flex;
}

.services__consulting__image--two,
.services__implementation__image--two {
  display: none;
}

.services__consulting-one--container-chips,
.services__consulting-two--container-chips {
  display: flex;
  width: 100%;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}

.services__container-button {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media screen and (min-width: 768px) {

  .services__consulting__image--two,
  .services__implementation__image--two {
    max-width: 468px;
  }

  .services__consulting--hero--image,
  .services-implementation__image {
    max-width: 580px;
  }
}

@media screen and (min-width: 1024px) {

  .services-consulting__container {
    padding: 148px 16px 32px 16px;
  }

  .services__consulting--hero--image,
  .services-implementation__image {
    align-self: flex-start;
    max-width: 100%;
  }

  .services__section-one,
  .services__section-two,
  .services__section-three,
  .services__section-four,
  .services__section-five {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }

  .services__section-three {
    align-items: end;
  }

  .services__section-five {
    align-items: center;
  }

  .services__consulting__image--two,
  .services__implementation__image--two {
    max-width: 100%;
    display: flex;
  }
}

/* Projects page */
.projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  padding: 78px 16px 32px 16px;
  gap: 32px;
}

.projects__title {
  color: var(--brand-green);
}

.projects__cards--container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  gap: 56px;
  width: 100%;
}

.projects__card {
  background: var(--white);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 490px;
}

.projects__card-container-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  padding: 12px;
}

.projects__card--image {
  width: 100%;
  height: 218px;
  object-fit: cover;
}

.text-green-dark {
  color: var(--brand-green-dark);
}

@media screen and (min-width: 768px) {
  .projects__container {
    padding: 148px 16px;
  }

  .projects__cards--container {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects__card-container-text {
    padding: 24px;
  }
}